@model VehicleLeaseApp.Models.Driver

@{
    ViewBag.Title = "Edit Driver";
}

<h2>Edit Driver</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.DriverId)

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.FullName)
            @Html.EditorFor(model => model.FullName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LicenseNumber)
            @Html.EditorFor(model => model.LicenseNumber)
        </div>
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
}
<p>@Html.ActionLink("Back to List", "Index")</p>
