@model IEnumerable<VehicleLeaseApp.Models.Driver>

@{
    ViewBag.Title = "Drivers";
}

<h2>Drivers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.First().FullName)</th>
        <th>@Html.DisplayNameFor(model => model.First().LicenseNumber)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FullName</td>
            <td>@item.LicenseNumber</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DriverId }) |
                @Html.ActionLink("Details", "Details", new { id = item.DriverId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DriverId })
            </td>
        </tr>
    }
</table>
