@model VehicleLeaseApp.Models.Supplier

@{
    ViewBag.Title = "Edit Supplier";
}

<h2>Edit Supplier</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.SupplierId)

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ContactInfo)
            @Html.EditorFor(model => model.ContactInfo)
        </div>
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
}
<p>@Html.ActionLink("Back to List", "Index")</p>
