@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Vehicle Leasing Management</h1>
    <p class="lead">
        Welcome to the Vehicle Leasing Management System. This tool helps you manage your suppliers, branches, clients, drivers, and vehicles efficiently.
    </p>
    <p><a href="@Url.Action("Index", "Vehicles")" class="btn btn-primary btn-lg">View Vehicles &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Suppliers</h2>
        <p>Manage vehicle suppliers.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Suppliers")">Go to Suppliers &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Branches</h2>
        <p>Manage company branches where vehicles are assigned.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Branches")">Go to Branches &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Clients</h2>
        <p>Manage the companies leasing your vehicles.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Clients")">Go to Clients &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Drivers</h2>
        <p>View and manage drivers assigned to vehicles.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Drivers")">Go to Drivers &raquo;</a></p>
    </div>
</div>
